<nav class="navbar navbar-expand-lg text-white navbar-success bg-success">
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <button class="btn btn-lg text-white" routerLink="">Inicio</button>
      </li>
      <li class="nav-item">
        <button class="btn btn-lg text-white" routerLink="barracks">
          Cuarteles
        </button>
      </li>
      <li class="nav-item">
        <button class="btn btn-lg text-white" routerLink="companies">
          Compañias
        </button>
      </li>
      <li class="nav-item">
        <button class="btn btn-lg text-white" routerLink="departments">
          Cuerpos
        </button>
      </li>
      <li class="nav-item">
        <button class="btn btn-lg text-white" routerLink="soldiers">
          Soldados
        </button>
      </li>
      <li class="nav-item">
        <button class="btn btn-lg text-white" routerLink="services">
          Servicios
        </button>
      </li>
    </ul>
  </div>
</nav>
