<div class="d-flex justify-content-around">
    <table class="table table-hover col-7">
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th class="d-flex justify-content-between align-items-end" scope="col">
                    <span>Localización</span>
                    <button class="btn btn-success">Añadir un cuartel</button>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let barrack of barracks">
                <td>{{barrack.name}}</td>
                <td>{{barrack.location}}</td>
            </tr>
        </tbody>
    </table>
    <app-barracks-add></app-barracks-add>
</div>