<div class="container">
  <div class="row">
    <p class="col col-6 text-justify h5 mt-auto">
      Bienvenidos al programa de gestion del servicio militar del politecnico,
      polimili, podrás gestionar los distintos cuarteles, compañias, cuerpos y
      soldados, así como los servicios que realizan los mismos, esta página web
      esta desarrollada por dos alumnos del politécnico, Sergio Saez Trigueros y
      Miguel Angel López Ariza, con datos mockeados desde archivos json, si
      recargas la pagina y tienes datos no se sobreescribiran, pero si las bases
      de datos estan vacias se recibiran los datos mockeados, se trata de una
      spa, desarrollada con angular y bootstrap, ahora viene texto de relleno ya
      tu sabe, apruebanos.
      <br />
      El Ejército de Tierra es la rama terrestre de las Fuerzas Armadas
      españolas, uno de los ejércitos en actividad más antiguos del mundo,
      estando en servicio desde el siglo XV d. C.. Tiene su cuartel general en
      el Palacio de Buenavista de Madrid, ubicado en la céntrica plaza de
      Cibeles, frente al Banco de España.
      <br />
      La Armada Española es la rama marítima de las Fuerzas Armadas españolas.
      Es una de las fuerzas navales en actividad más antiguas del mundo. Su
      comienzo data de los últimos años del siglo XV y primeros del siglo XVI,
      cuando los grandes reinos hispánicos de Castilla y Aragón se unieron bajo
      los Reyes Católicos.
    </p>
    <img
      class="col col-6"
      height="600"
      src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d3/Emblem_of_the_Spanish_Navy.svg/1200px-Emblem_of_the_Spanish_Navy.svg.png"
      alt="imagen"
    />
  </div>
</div>
